{% extends "::vueMere.html.twig" %} {#La vue fille 1 hérite de la vue mère #}
{% block titre %} 
							<div class="panel panel-default">
							    <div class="panel-heading">
							        <h4 class="panel-title"><center><h2>Studyrama <button type="submit" class="glyphicon glyphicon-plus"></button></h2></center></h4>
							    </div>
							</div>
{% endblock %} 
{% block contenuCentral %} 
							<div class="panel panel-default">
								
									  <div class="panel-heading"><center>Informations Participants</center></div>
									  <div class="panel-body"><center>
									  <u>Nombre d'inscrits :</u> 5 <br>
									  <u>Liste des participants :</u><br>
									  Antoine ARNAUDIN, Thibault LARZABAL, Dylan SEZAT, Hugo URANGA</center>
									  </div>
								
							</div>
{% endblock %}
{% block menu %} 
				
								<ul class="nav nav-tabs nav-justified" id="myTab">
								<li class="active"><a data-toggle="tab" href="#justifmenu1">Informations</a></li>
								<li><a data-toggle="tab" href="#justifmenu2">Plan d'acces</a></li>
								<li><a data-toggle="tab" href="#justifmenu3">Pieces jointes</a></li>			
								<li><a data-toggle="tab" href="#justifmenu4">Bilan</a></li>			
								
								<div class="tab-content">
									  <div id="justifmenu1" class="tab-pane fade in active">
										
									  </div>
								</div>
									
{% endblock %}



{% block contenu1 %} 
<div class="panel panel-primary">
<div class="panel-heading"><center>Pratiques</center></div><center>
<h4><strong>Date debut :</strong>19 Decembre 2016</h4>
<h4><strong>Date fin :</strong>19 Decembre 2016</h4>
<br>
<h4><strong>Adresse :</strong>19 Decembre 2016</h4>
<h4><strong>Complements :</strong>11 Allee de Glain</h4>
<h4><strong>Ville :</strong>Bayonne</h4>
<h4><strong> CP: </strong> 64100</h4>
<br>
<h4><strong>Horaire :</strong>8h00-17h00</h4>
</center>
</div>
{% endblock %}



{% block contenu2 %} 
<div class="panel panel-primary">
<div class="panel-heading"><center>Description du Salon</center></div><center>
<br>
<p align="justify">Le 9eme salon Studyrama des Etudes superieures de Bayonne est le rendez-vous a ne pas manquer pour trouver sa formation de Bac a Bac +5 et reussir son orientation. Que vous soyez en Terminale et a la recherche d une formation superieure, ou etudiant(e) et en quete d une reorientation ou d une specialisation, ce salon est fait pour vous. 
Le 16 janvier a la Maison des Associations, vous trouverez toutes les informations necessaires pour en savoir plus sur les cursus et formations qui existent et pour bien preparer vos etudes superieures, et decouvrirez les secteurs et les metiers qui ont la cote.
</p>
</center>
<br>
</div>
{% endblock %}