{% extends "::vueMere.html.twig" %} {#La vue fille 1 hérite de la vue mère #}

{% block menuPropreAuBundle %}
	{% include "prostageProstageBundle:Prostage:menuProstage.html.twig" %}
{% endblock %}
	
{% block contenuCentral %}
	<h3> Liste des stages de prostage </h3>
	<p> Cette page affichera prochainement les stages proposés </p>
{% endblock %}
	